<h1> All Articles </h1>

<ul id="articles">
	<%@articles.each do |f| %>
		<li>
			<%= link_to f.title, article_path(f) %>
		</li>
	<%end%>
</ul>
<br>

<%= link_to "Create New Article", new_article_path, class: 'article_title' %>



